.App {
  text-align: center;
}

.content-container {
  max-width: 800px;
  margin: 0 auto;
}

.small-square-container {
  display: flex;
  justify-content: flex-start; /* Align items to the right */
  align-items: flex-start; /* Align items to the top */
  margin-top: 10px; /* Adjust top margin as needed */
  margin-right: 30px; /* Adjust right margin as needed */
}


.small-square {
  width: 450px; /* Adjust width as needed */
}


